[Desktop Entry]
Name=pdftag
Comment=Edit PDF metadata
Type=Application
Exec=pdftag %U
Icon=document-properties
StartupNotify=true
MimeType=application/pdf;
